.dashboard {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    
}
 .dashboardWapper {
    height: 100vh ;
    padding: 20px;
    flex:1;
    color: #ccc;
    -webkit-box-shadow: 3px 10px 0px 0px rgba(161,161,161,0.54);
    -moz-box-shadow: 3px 10px 0px 0px rgba(161,161,161,0.54);
    box-shadow: 3px 0px 0px 0px rgba(161,161,161,0.54);
    
}

.dashboardTitle {
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(36, 34, 34);
}


.icon {
    margin-right: 10px;
}

.dashboardListItem {
    text-decoration: none;
    color: #000;
    font-weight: 600;font-size: 17px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dashboardListItem.active,
.dashboardListItem:hover {
    background-color: rgb(228, 228, 250);
} 
